body {
  margin: 0;
  font-family: Inter, sans-serif;
  overflow-x: hidden;
}

/* Header Elements */

.header-main-div {
  background-color: #1A1E43;
  height: 90px; 
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.header-logo {
  padding-top: 10px;
  height: 60px;
  vertical-align: middle;
  padding-bottom: 10px;
  cursor: pointer;
}

.header-branding {
  display: flex;
  padding-left: 10%;
}

.header-title {
  align-self: center;
  font-weight: bold;
  font-size: 20px;
  padding-top: 10px;
  padding-left: 5px;
  padding-bottom: 10px;
  cursor: pointer;

  color:white;
}

.header-link-name {
  text-align: center;
  align-self: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 11px;
  padding-left: 10px;
  padding-right: 10px;
  transition: text-decoration 0.8s, opacity 0.8s;

  color: white;
}

.header-link-name:hover {
  cursor: pointer;
  text-decoration: underline;
}

.header-link-name:active {
  opacity: 0.5;
}

.header-mid-space {
  width: 30%;
}

.button-links {
  text-align: center;
  align-self: center;
  padding-left: 30px;
  display: flex;
  gap: 15px;
}

.header-register, .header-login {
  padding: 7px 30px;
  font-size: 11px;
  font-family: Inter, sans-serif;
  font-weight: 500;
  border-radius: 5px;
  transition: background-color 0.8s, color 0.8s, border 0.8s;
}

.header-register:active, .header-login:active {
  opacity: 0.5;
}

.header-register {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  transition: background-color 0.8s, color 0.8s;
  font-weight: 600;
}

.header-register:hover {
  background-color: white;
  color: #1A1E43;
}

.header-login {
  border: none;
  cursor: pointer;
  transition: background-color 0.8s, border 0.8s, color 0.8s;
  font-weight: 600;
}

.header-login:hover {
  background-color: #1A1E43;
  color: white;
  border: 1px solid white;
}

/* Main elements */

.main-image {
  height: 376px;
  width: 1441px;
  object-fit: cover;
  display: block;
}

.main-image-div {
  position: relative;
}

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); 

  font-size: 30px;
  font-weight: bold;
  word-wrap: break-word;

  padding-top: 10%;
  padding-left: 10%;

  color: white;
}

.overlay-text-small {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  font-size: 20px;
  word-wrap: break-word;
  font-weight: 300;

  padding-top: 13%;
  padding-left: 10%;
  color: white;
}

.form-absolute {
  position: absolute;
}

.forms {
  flex-direction: row;
  display: flex;
  width: 900px;
  height: 85px;
  padding-right: 10px;
  padding-left: 10px;
  

  margin-top: -45px;
  margin-bottom: 10px;
  margin-left: 30%;

  border-radius: 10px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  z-index: 100;

  background-color: white;
}

.location-div {
  padding: 20px;
  padding-left: 20px;
  color: black;
}

.location-ico-div {
  display: flex;
}

.location-pin {
  height: 20px;
  fill: black;
}

.form-text {
  font-size: 11px;
  font-weight: 500;
  padding-left: 10px;
}

#location-dropdown, #checkin-calendar, #rooms-dropdown {
  font-family: Inter, san-serif;
  font-size: 10px;
  margin-left: 30px;
  border: none;
}

.booknow {
  background-color: #1A1E43;
  border: none;
  color: white;
  font-family: Inter, sans-serif;

  padding-left: 10px;
  padding-right: 10px;
  
  height: 40px;
  width: 120px;

  margin-top: 20px;
  margin-left: 20px;
  margin-right: 25px;

  vertical-align: middle;
  border-radius: 5px;

  cursor: pointer;

  font-size: 11px;
}

.booknow:hover {
  background-color: #050a33;
}

.booknow:active {
  opacity: 0.8;
}

/* Hotels */

.hotels-main-con, .category-hotel-container {
  margin-top: 70px;
  padding-left: 10%;
}

.category-hotel-container {
  margin-top: 30px;
  margin-bottom: 50px;
}

.hotel-underline {
  background-color: goldenrod;
  width: 90px;
  height: 5px;
}

.hotel-list-container {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10%;
}


.hotel-list-container {
  display: flex;
  flex-direction: row;
  gap: 30px;

  margin-top: 20px;
}

.hotel-image {
  width: 216px;
  height: 166px;
  object-fit: cover;
  border-radius: 10px;

  cursor: pointer;
}

.hotel-name {
  font-size: 15px;
  margin-top: 15px;
  font-weight: bold;
  padding-bottom: 10px;
}

.hotel-price {
  font-size: 14px;
  font-weight: 600;
  color: goldenrod;
}

.hotel-address {
  font-size: 11px;
  padding-top: 5px;
}

.hotel-container {
  transition: transform 0.8s;
}

.hotel-container:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 10px;
  transform: scale(1.1);
}

/* PreFooter */

.prefooter-container {
  background-color: #1A1E43;
  color: white;

  display: flex;
  gap: 100px;

  padding-left: 9%;
  padding-top: 20px;
  padding-bottom: 50px;
}

.pre-branding-logo-con {
  display: flex;
}

.pre-title {
  align-self: center;
  font-weight: bold;
  font-size: 19px;
}

.pre-about-lists {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.pre-about-list-title {
  padding-bottom: 20px;
  display: block;
  font-weight: 500;
  font-size: 15px;
}

.pre-about-list-text {
  width: 100%;
  font-size: 11px;

  padding-top: 5px;
  padding-left: 20px;
}